$list_to_sort: john, anna, zoe, kim, felicia, carrie;

@function sort-list($list) {
  @return sort($list);
}

$sorted_list: sort-list($list);

@function format-list($list) {
  $result: "";
  @each $item in $list {
    $result: if($result == "", $item, "#{$result}|#{$item}");
  }
  @return $result;
}

@debug format-list($sorted_list);
